{% if not hide_block %}

<div class="content {% if padding_top %}content--no-top{% endif %} {% if padding_bottom %}content--no-bottom{% endif %}">
  <div class="container">

    <div class="app-block">
      {% if options.app_block_image %}
        <div class="app-block__image">
          <img src="{{ options.app_block_image.url }}" alt="{{ options.app_block_image.title }}" />
        </div>
      {% endif %}

      <div class="app-block__content">
        {% if options.app_block_title %}
          <h2 class="fs-h1 text-blue">{{ options.app_block_title }}</h2>
        {% endif %}

        {% if options.download_links %}
          {% for link in options.download_links %}

            <a class="app-block__content__link" href="{{ link.download_link.url }}" target="{{ link.download_link.target }}">
              <img src="{{ link.image.url }}" title="{{ link.image.title }}">
            </a>

          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% endif %}
