{% if not hide_block %}

<div class="image-block">
  <div class="container">

    {% if block_title_image %}
      <div class="block-title">
    {% endif %}

    {% if block_title %}
      <div class="block-title__top">
        {% if block_title_image %}
          <span class="block-title__image"><img src="{{ block_title_image.url }}" alt="{{ block_title_image.title }}" /></span>
        {% endif %}
        <h2 class="underline text-blue">{{ block_title_text }}</h2>
      </div>
    {% endif %}

    <div class="g-wrap quarter-gutter">
      <div class="g-col {% if image_second %}gtw-col-1-2{% endif %} image-block__col">
        <img src="{{ image_first.url }}" alt="{{ image_first.title }}" />
      </div>
      {% if image_second %}
        <div class="g-col gtw-col-1-2 image-block__col">
          <img src="{{ image_second.url }}" alt="{{ image_second.title }}" />
        </div>
      {% endif %}
    </div>

    {% if block_title_image %}
      </div>
    {% endif %}

  </div>
</div>

{% endif %}
