{% if not hide_block %}

  {% if allProducts %}

    <div class="content content--products">
      <div class="container">
        <div class="g-wrap g-wrap--flex no-gutter">
          {% for product in allProducts %}

            {# Check if each Product ID is in the current sessions Products list #}
            {% if product.get_field('product_id') in session_product_ids %}

            {% if loop.length == "1" %}
              <div class="g-col content__product content__product--{{ product.get_field('product_colour') }}">
            {% else %}
              <div class="g-col gtw-col-1-2 content__product content__product--{{ product.get_field('product_colour') }}">
            {% endif %}

              <div class="content__product__inner">
                {{ product.get_field('product_copy') }}
                {% if product.get_field('product_link') %}
                  <div style="text-align: center;">
                    <a class="button button button--large button--responsive button--{{ product.get_field('product_colour') }}" href="{{ product.get_field('product_link').url }}">{{ product.get_field('product_link').title }}</a>
                  </div>
                {% endif %}
              </div>
            </div>

            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endif %}
