<div class="post post--list post--{{ category|lower }}">
  <div class="post__thumb">
    <a href="{{ post_url }}">
      <img src="{{ thumbnail_url }}">
    </a>
  </div>
  <div class="post__excerpt">
    <a href="{{ post_url }}">
      <h2>{{ post_title }}</h2>
    </a>
    <strong>In <a href="/{% if icl_language_code != "en" %}/{{ icl_language_code }}{% endif %}news/{{ category.slug }}">{{ category.title }}</a>:</strong>
    {% if small_preview == true %}
      {{ preview.length(10).read_more(false) }}
    {% else %}
      {{ preview.length(40).read_more(false) }}
    {% endif %}
  </div>
</div>
