{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				{# <h1>{{post.title}}</h1> #}
				{# <p class="article-tagline">{{post.tagline}}</p> #}
				<div class="article-body">
					<div class="gallery">
						<div id="showContainer">
							{% block gallery %}
							  {% for image in TimberImage(post.get_field('gallery')) %}
								<div class="imageContainer" id="im_{% for item in items %}
  																								{% set counter = ( counter | default(0) ) + 1 %}
  																								{{ counter ~ ' ). ' ~ item.title }}
																									{% endfor %}">
									<img src="{{ image }}">
									<div class="caption">
									{{title}}
									</div>
								</div>
							  {% endfor %}
							{% endblock %}
							<div class="navButton" id="previous">&#10094;</div>
							<div class="navButton" id="next">&#10095;</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
