{% extends "base.twig" %}

{% block content %}

{% if login_error is defined %}
  {% include "modules/message.twig" with { 'title' : login_error, 'class' : 'message--error' } %}
{% endif %}

{% include "modules/breadcrumb.twig" %}

<div class="account">
  <div class="container">
    <div class="g-wrap">
      <div class="g-col gtw-col-3-4 gtw-push-1-8 account__main">
        <h2 class="underline">{{ static.log_in_to_bmj_cds_training_hub }}</h2>

        <div class="g-wrap large-gutter">
          <div class="g-col gt-col-1-2">
            <form id="login-form" action="{{ form_action }}" method="post">
              <input type="hidden" name="action" value="submit-login-form" />
              <input type="hidden" name="access-code-login" value="{{ access_code }}"/>

              <div id="login_form_email" class="form__item">
                <label class="form__label form__label--required" for="your-email-login">{{ static.your_email }}:</label>
                <div class="form__item__wrap">
                  <input class="form__input" id="your-email-login" name="your_email_login" type="text" value="{{ your_email_login }}">
                </div>
                <div id="your_email_login_error" class="form__error"></div>
              </div>
              <div id="login_form_password" class="form__item">
                <label class="form__label form__label--required" for="your-password-login">{{ static.password }}:</label>
                <div class="form__item__wrap">
                  <input class="form__input" id="your-password-login" name="your_password_login" type="password">
                </div>
                <div id="your_password_login_error" class="form__error"></div>
              </div>
              <div class="form__item form__item--inline form__item--checkbox">
                <input id="remember-me" name="remember-me" type="checkbox" class="form__checkbox">
                <label class="form__label" for="remember-me">{{ static.remember_me }}</label>
              </div>
              <button type="submit" class="button button--large button--fluid button--responsive margin-bottom-s margin-top-s button--{{ options.login_login_colour }}">{{ static.login }}</button>
            </form>
            <p>{{ static.forgotten_your_password }} <a href="https://myaccount.bmj.com/myaccount/email-password.html?fwdUrl=https://cds.bmj.com" target="_blank">{{ static.reset_your_password }}</a></p>
          </div>

          <div class="g-col gt-col-1-2">
            <h3>{{ static.dont_have_an_account_yet }}</h3>
            <p>If you <strong><em>have</em></strong> an access code, <a href="/{{ icl_language_code }}/register">register here</a></p>
            <p>If you <strong><em>do not have</em></strong> an access code, <a href="/{{ icl_language_code }}/request-access">request access here</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
