{% extends "base.twig" %}

{% block content %}

{# IF - the current page User Access is set to Open OR matches the current logged in/logged out status #}
{% if post.get_field('user_access') == status or post.get_field('user_access') == "open" %}

<div class="breadcrumb">
  <div class="container">
    <ul class="breadcrumb__list">
      <li>BMJ CDS:</li>
      <li><a href="{{ site.url }}">Home</a></li>
      <span class="breadcrumb__divide">»</span>
      <li><a href="/{% if icl_language_code != "en" %}/{{ icl_language_code }}{% endif %}news">News</a></li>
      <span class="breadcrumb__divide">»</span>
      <li><a href="/{% if icl_language_code != "en" %}/{{ icl_language_code }}{% endif %}news/{{ category.slug }}">{{ category.title }}</a></li>
      <span class="breadcrumb__divide">»</span>
      <li>{{ post.title }}</li>
    </ul>
  </div>
</div>

<div class="content">
  <div class="container">

    <h1 class="underline underline--flex">
      {{ post.title }}
      <span class="underline__right"><a href="/{% if icl_language_code != "en" %}/{{ icl_language_code }}{% endif %}news/{{ category.slug }}">« Back to {{ category.title }}</a></span>
    </h1>

    <div class="post-meta">
      <p>Posted on <em>{{ post.date('F jS') }} in <a href="/{% if icl_language_code != "en" %}/{{ icl_language_code }}{% endif %}news/{{ category.slug }}">{{ category.title }}</a></em></p>
      {% if post.get_field('overwrite_author') %}
        {% if post.get_field('author_name') != '' %}
          <p>By <em>{{ post.get_field('author_name') }}</em></p>
        {% endif %}
      {% else %}
        <p>By <em>{{ post.author }}</em></p>
      {% endif %}
    </div>

    {% if post.get_field('top_content') == 'podcast' %}
      <div class="post-top-content">
        {% include "modules/podcast-block.twig" with { podcast_embed: post.get_field('podcast_embed') } %}
      </div>
    {% elseif post.get_field('top_content') == 'video' %}
      <div class="post-top-content">
        {% include "modules/video-block.twig" with { video_embed: post.get_field('video_embed') } %}
      </div>
    {% elseif post.get_field('top_content') == 'image' %}
      <div class="featured-image">
        <img src="{{ post.thumbnail.src }}" title="{{ post.thumbnail.title }}" />
      </div>
    {% endif %}

    {{ post.content }}

  </div>
</div>

{# ELSEIF - if user needs to be logged in - redirect the current page to the Login Page #}
{% elseif post.get_field('user_access') == "loggedin" %}

  {% do action( 'redirect-to-login' ) %}

{# ELSE - redirect the current page to the Home Page #}
{% elseif post.get_field('user_access') == "loggedout" %}

  {% do action( 'redirect-to-home' ) %}

{% endif %}

{% endblock %}
